<!DOCTYPE html>
<html lang="zh">
    <head>
        <meta charset="utf-8" />
        <title>brat</title>
        <script type="text/javascript">
            window.Configuration = {"abbrevsOn":true,"textBackgrounds":"striped","visual":{"margin":{"x":2,"y":1},"arcTextMargin":1,"boxSpacing":1,"curlyHeight":4,"arcSpacing":9,"arcStartHeight":19},"svgWidth":"100%","rapidModeOn":false,"confirmModeOn":true,"autorefreshOn":false}
        </script>
    </head>
    <body>
          <div id="svg"></div>
    </body>
    <script>
    </script>
</html>
