 .nusp-alert {
    box-sizing: border-box;
    display: none;
    position: fixed;
    z-index: 3009;
    width: 330px;
    background: #fff3cd;
    border: 1px solid #ffe69c;
    border-left-width: 4px;
    padding: 12px;
    margin: 0;
    color: #664d03;
    font-size: 14px;
    word-wrap: break-word;
    border-radius: 4px;
    line-height: 1.575;
    //transition: all 0.25s cubic-bezier(0.23, 1, 0.32, 1);
    //box-shadow: rgba(0, 0, 0, 0.25) 1px 4px 10px;
    .nusp-alert-title {
      display: flex;
      align-items: center;
      font-weight: 700;
      margin-bottom: 10px;
      font-size: 15px;
      .nusp-icon {
        display: inline-block;
        width: 16px;
        padding-right: 6px;
      }
      .nusp-alert-message {
        flex: 1;
      }
    }

    .nusp-alert-content {
      padding-right: 12px;
      padding-left: 20px;
    }

    .nusp-alert-description {
      color: #664a24;
      span {
        font-weight: 700;
        color: #58151c;
        display: inline-block;
        padding: 0 2px;
      }
    }
  }